<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.dltk.console.ui.scriptConsole">
        <scriptConsole
                class="com.juliacomputing.jldt.eclipse.ui.console.JuliaConsoleFactory"
                natureID="com.juliacomputing.jldt.eclipse.core.nature"/>
    </extension>

    <extension point="org.eclipse.ui.console.consoleFactories">
        <consoleFactory
                class="com.juliacomputing.jldt.eclipse.ui.console.JuliaConsoleFactory"
                icon="icons/julia.png"
                label="Julia REPL"/>
    </extension>

    <extension point="org.eclipse.ui.views">
        <category id="com.juliacomputing.jldt.eclipse.ui" name="Julia"/>
        <view
                category="com.juliacomputing.jldt.eclipse.ui"
                class="com.juliacomputing.jldt.eclipse.ui.console.JuliaCanvas"
                icon="icons/julia.png"
                id="com.juliacomputing.jldt.eclipse.ui.console.JuliaCanvas"
                name="Plot"/>
    </extension>
</plugin>
