<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.preferencePages">
        <page
                category="com.juliacomputing.jldt.eclipse.ui.preferences"
                class="com.juliacomputing.jldt.eclipse.ui.launch.interpreter.JuliaInterpreterPreferencePage"
                id="com.juliacomputing.jldt.eclipse.ui.preferences.interpreters"
                name="Interpreters"/>
    </extension>

    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage icon="icons/julia.png"
                                      configTypeID="com.juliacomputing.jldt.eclipse.launch.JuliaLaunchConfigurationType"
                                      id="com.juliacomputing.jldt.eclipse.ui.launch.launchConfigurationTypeImage">
        </launchConfigurationTypeImage>
        <launchConfigurationTypeImage icon="icons/julia.png"
                                      configTypeID="com.juliacomputing.jldt.eclipse.ui.console.interactiveConsoleConfigurationType"
                                      id="com.juliacomputing.jldt.eclipse.ui.console.interactiveConsoleConfigurationTypeImage">
        </launchConfigurationTypeImage>
    </extension>
    ¡
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                class="com.juliacomputing.jldt.eclipse.ui.launch.configuration.JuliaTabGroup"
                id="com.juliacomputing.jldt.eclipse.ui.launch.JuliaTabGroup"
                type="com.juliacomputing.jldt.eclipse.launch.JuliaLaunchConfigurationType">
        </launchConfigurationTabGroup>
        <launchConfigurationTabGroup
                class="com.juliacomputing.jldt.eclipse.ui.launch.configuration.JuliaTabGroup"
                id="com.juliacomputing.jldt.eclipse.ui.launch.JuliaREPLTabGroup"
                type="com.juliacomputing.jldt.eclipse.ui.console.interactiveConsoleConfigurationType">
        </launchConfigurationTabGroup>
    </extension>

    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                delegate="com.juliacomputing.jldt.eclipse.launch.JuliaLaunchConfigurationDelegate"
                id="com.juliacomputing.jldt.eclipse.launch.JuliaLaunchConfigurationType"
                modes="run"
                name="Julia run"
                public="false">
        </launchConfigurationType>
        <launchConfigurationType
                delegate="com.juliacomputing.jldt.eclipse.ui.console.JuliaREPLLaunchConfigurationDelegate"
                id="com.juliacomputing.jldt.eclipse.ui.console.interactiveConsoleConfigurationType"
                modes="run, interactive"
                name="Julia Interactive"
                public="false">
            <!--temporary - set to false-->
        </launchConfigurationType>
    </extension>


    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
                class="com.juliacomputing.jldt.eclipse.ui.launch.launcher.JuliaLaunchShortcut"
                description="%JuliaLaunchShortcut.description"
                icon="icons/julia.png"
                id="com.juliacomputing.jldt.eclipse.ui.launch.launchShortcut"
                label="%JuliaLaunchShortcut.name" modes="run, debug">
            <description
                    description="%JuliaLaunchShortcut.runDescription" mode="run">
            </description>
            <description
                    description="%JuliaLaunchShortcut.debugDescription" mode="debug">
            </description>
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <or>
                                <test
                                        args="com.juliacomputing.jldt.eclipse.core.nature"
                                        property="org.eclipse.dltk.launching.hasProjectNature"/>
                            </or>
                        </iterate>
                    </with>
                </enablement>
                <contextLabel label="%JuliaLaunchShortcut.runName"
                              mode="run">
                </contextLabel>
                <!--<contextLabel label="%JuliaLaunchShortcut.debugName"-->
                <!--mode="debug">-->
                <!--</contextLabel>-->
            </contextualLaunch>
        </shortcut>
        <shortcut
                class="com.juliacomputing.jldt.eclipse.ui.launch.launcher.JuliaREPLLaunchShortcut"
                description="%JuliaREPLLaunchShortcut.description"
                icon="icons/repl.png"
                id="com.juliacomputing.jldt.eclipse.ui.launch.replLaunchShortcut"
                label="%JuliaLaunchShortcut.name" modes="run, interactive">
            <description
                    description="%JuliaREPLLaunchShortcut.runDescription" mode="run">
            </description>
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <or>
                                <test
                                        args="com.juliacomputing.jldt.eclipse.core.nature"
                                        property="org.eclipse.dltk.launching.hasProjectNature"/>
                            </or>
                        </iterate>
                    </with>
                </enablement>
                <contextLabel label="%JuliaREPLLaunchShortcut.runName" mode="run"/>
            </contextualLaunch>
        </shortcut>
    </extension>

</plugin>
